@model Decision.ViewModel.EmpRelative.EmpRelativeViewModel
<div class="col-md-12 data-item" id="address-@Model.Empno">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 ">
                    <h3 class="line-status">
                        <small class="text-muted">
                            <i class="fa fa-user"></i>
                            اطلاعات @Model.ReltypeDsc - @Model.RelNam - @Model.Family
                        </small>
                    </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted">وضعیت تکفل:</label>
                            <small id="TakafolStatE">@Html.DisplayFor(a => a.TakafolStatE)</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">نام پدر:</label>
                            <small>@Model.FatherNam</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">شماره شناسنامه:</label>
                            <small>@Model.IdNo.GetPersianNumber()</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">تاریخ تولد:</label>
                            <small>@Model.BirthDate.GetDatePersianNumber()</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted">وضعیت رفاهی:</label>
                            <small id="RefahiStateE">@Html.DisplayFor(a => a.RefahiStateE)</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">جسیت:</label>
                            <small>@Model.SexDsc</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">وضعیت سلامت:</label>
                            <small>@Model.HealthDsc</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">وضعیت تاهل:</label>
                            <small>@Model.MarriDsc</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-muted">کد ملی:</label>
                            <small>@Model.MelliCode.GetPersianNumber()</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">مدرک تحصیلی:</label>
                            <small>@Model.DegreeDsc</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">رشته تحصیلی:</label>
                            <small>@Model.MajorDsc</small>
                        </div>
                        <div class="col-md-3">
                            <label class="text-muted">تاریخ ازدواج:</label>
                            <small>@Model.ChildDatMarrid.GetDatePersianNumber()</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button aria-controls="show-bime" aria-expanded="false" class="btn btn-default  btn-block" data-target="#show-bime-@Model.MelliCode" data-toggle="collapse" type="button">
                    <i class="fa fa-search"></i>
                    نمایش اطلاعات بیمه
                </button>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row collapse" id="show-bime-@Model.MelliCode">
                <hr class="margin-top-5 margin-bottom-5" />
                <div class="col-md-12">
                        @foreach (var e in Model.Bimes)
                        {
                            @Html.Partial(MVC.OtherBime.Views._OtherBimeItem, e)
                        }
                    </div>
                </div>
            </div>
        </div>
</div>