@using Decision.Common.HtmlHelpers
@using Decision.DomainClasses.EmployeeEntities


@model Decision.ViewModel.Employee.EmployeeDetailsViewModel
@{
    ViewBag.Title = "مشاهده جزئیات کارکنان";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">اطلاعات متقاضی</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-block text-center">
                            <figure>
                                @Html.Image(Model.Photo, Model.Family + " " + Model.Name, "img-circle img-responsive img-thumbnail", 200)
                                <figcaption>
                                    <h5>
                                        @Model.Name @Model.Family
                                        <br>
                                    </h5>
                                    @if (Model.SexCod == "SEX01")//GenderType.Male)
                                    {
                                        <i class="fa fa-male" title="مرد"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-female" title="زن"></i>
                                    }
                                    <br />
                                    <div class="col-md-12">
                                        <label for="StopStat">وضعیت پرسنل:</label>
                                        <small id="StopStat">@Html.DisplayFor(a => a.StopStatE )</small>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="line-status">
                            <small class="text-muted">
                                <i class="fa fa-user"></i>
                                اطلاعات فردی
                            </small>
                        </h3>
                       <div class="row">
                            <div class="col-md-3">
                                <label for="LastFamily">نام خانوادگی قبلی:</label>
                                <small id="LastFamily">@Model.LastFamily</small>
                            </div>
                            <div class="col-md-3">
                                <label for="IdNo">شماره شناسنامه:</label>
                                <small id="IdNo">@Model.IdNo.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="IdNoContinued">شماره مسلسل شناسنامه:</label>
                                <small id="IdNoContinued">@Model.IdNoContinued.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthDate">تاریخ تولد:</label>
                                <small id="BirthDate">@Model.BirthDate.GetDatePersianNumber()</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="MelliCode">کد ملی:</label>
                                <small id="MelliCode">@Model.MelliCode.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BirthCityCod">محل تولد:</label>
                                <small id="BirthCityCod">@Model.BirthCity</small>
                            </div>
                            <div class="col-md-3">
                                <label for="IssueCityCod">محل صدور:</label>
                                <small id="IssueCityCod">@Model.IssueCity</small>
                            </div>
                            <div class="col-md-3">
                                <label for="ReligionDsc">دین:</label>
                                <small id="ReligionDsc">@Model.ReligionDsc</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="EmpType">نوع استخدام:</label>
                                <small id="EmpType">@Model.EmpType</small>
                            </div>
                            <div class="col-md-3">
                                <label for="MarriageDsc">وضعیت تاهل:</label>
                                <small id="MarriageDsc">@Model.MarriageDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="MarriDate">تاریخ ازدواج:</label>
                                <small id="MarriDate">@Model.MarriDate.GetDatePersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="NoChild">تعداد فرزندان:</label>
                                <small id="NoChild">@Model.NoChild</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="RealPlace">محل خدمت:</label>
                                <small id="RealPlace">@Model.RealPlace </small>
                            </div>
                            <div class="col-md-6">
                                <label for="Unit">مرکز هزینه:</label>
                                <small id="Unit">@Model.Unit</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="GovEmpDate">تاریخ استخدام:</label>
                                <small id="GovEmpDate">@Model.GovEmpDate.GetDatePersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="ManEmpDate">تاریخ ورود به شهرداری:</label>
                                <small id="ManEmpDate">@Model.ManEmpDate.GetDatePersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="IssueCityCod">سنوات حکم:</label>
                                <small id="IssueCityCod">@Model.SanavatHokm.GetDatePersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="ReligionCod">سنوات حقوق:</label>
                                <small id="ReligionCod">@Model.SanavatHoghogh.GetDatePersianNumber()</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="NationalDsc">ملیت:</label>
                                <small id="NationalDsc">@Model.NationalDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="TelNo">تلفن منزل:</label>
                                <small id="TelNo">@Model.TelNo.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="Mobile">تلفن همراه:</label>
                                <small id="Mobile">@Model.Mobile.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="MainTelNo">تلفن ضروری:</label>
                                <small id="MainTelNo">@Model.MainTelNo.GetPersianNumber()</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <label for="Addr">آدرس:</label>
                                <small id="Addr">@Model.Addr</small>
                            </div>
                            <div class="col-md-3">
                                <label for="ZipNo">کد پستی:</label>
                                <small id="ZipNo">@Model.ZipNo.GetPersianNumber()</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Email">آدرس الکترونیک:</label>
                                <small id="Email">@Model.Email</small>
                            </div>
                            <div class="col-md-3">
                                <label for="NezStatDsc">وضعیت نظام وظیفه:</label>
                                <small id="NezStatDsc">@Model.NezStatDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="LDegreeDsc">آخرین مقطع تحصیلی:</label>
                                <small id="LDegreeDsc">@Model.LDegreeDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="LMajorDsc">آخرین مدرک تحصیلی:</label>
                                <small id="LMajorDsc">@Model.LMajorDsc.GetPersianNumber()</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Acc">شماره حساب:</label>
                                <small id="Acc">@Model.Acc.GetPersianNumber()</small>
                            </div>
                            <div class="col-md-3">
                                <label for="InsTypeDsc">وضعیت بیمه:</label>
                                <small id="InsTypeDsc">@Model.InsTypeDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="InsNo">شماره بیمه:</label>
                                <small id="InsNo">@Model.InsNo</small>
                            </div>
                            <div class="col-md-3">
                                <label for="BloodDsc">گروه خونی:</label>
                                <small id="BloodDsc">@Model.BloodDsc</small>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="HealthDsc">وضعیت سلامتی:</label>
                                <small id="HealthDsc">@Model.HealthDsc</small>
                            </div>
                            <div class="col-md-3">
                                <label for="HouseDsc">وضعیت خانه:</label>
                                <small id="HouseDsc">@Model.HouseDsc</small>
                            </div>
                            <div class="col-md-6">
                                <label for="LPostEblagh">آخرین پست سازمانی:</label>
                                <small id="LPostEblagh">@Model.LPostEblagh</small>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class=" row">
                <div class="col-md-12 ">
                    <h3 class="line-status">
                        <small>
                            <i class="fa fa-graduation-cap"></i>
                            وضعیت شغلی تحصیلی
                        </small>
                    </h3>
                    <div class="row">


                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <h3 class="line-status">
                        <small>
                            <i class="fa fa-credit-card"></i>
                            سایر مشخصات
                        </small>
                    </h3>
                    <div class="row">

                    </div>
                </div>
            </div>

        </div>
    </div>
    @*@{Html.RenderPartial(MVC.Shared.Views._AuditLog, Model);}*@
</div>

</div>

@section Menu{
    @{Html.RenderPartial(MVC.Employee.Views._EmployeeRelatedLinksBuilder, Model.Empno);}
}